//sass kommentar

$body-bg: rgb(37, 49, 53);
$text-color: white;
$font-family: Helvetica;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// button 1 style and animation
@mixin btn-style-1 {
    background-color: black;
    width: 10rem;
    height: 5rem;
    background-color: rgb(0, 0, 0);
    font-size: 1.5em;
    color: aliceblue;
    box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.507);
    &:hover{
        transition: ease-in-out 0.7s;
        border-color: rgb(36, 161, 53);
        background-color: rgb(36, 161, 53);
        color: aliceblue;
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.507);
        transform: rotate(360deg);
        cursor: pointer;
    }
    
}
// button 2 style and animation
@mixin ghost-button {
    background-color: rgba(240, 255, 255, 0);
    width: 10rem;
    height: 5rem;
    font-size: 1.5em;
    color: rgb(43, 43, 43);
    border-style: 2px;
    box-shadow: 3px 10px 5px rgba(0, 0, 0, 0.507);
    &:hover{  
        transition: ease-in-out 0.7s;
        cursor: pointer;
        transform: rotate(-360deg);
        
    }
    
}

body{
    background-color: $body-bg;
    color: $text-color;
}
.grid-container {  
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header header"
      "menu-section main-content main-content main-content right-section"
      "menu-section main-content main-content main-content right-section"
      "menu-section main-content main-content main-content right-section"
      "footer footer footer footer footer";

      @media only screen and (max-width: 768px){
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "header"
          "menu-section"
          "main-content"
          "right-section"
          "footer";

          .menu-section{
            width: 100%;
            height: 20vh;
          }
          .main-content{
            width: 100%;
          }
          .right-section{
            width: 100%;
            height: 20vh;
          }
      }
}
  
.header { 
    grid-area: header;
    background-color: rgb(129, 149, 168);
    height: 10vh;
    text-align: center;
    position: sticky;
    top: 0;
    h1{
        font-size: 3em;
    }
}
  
.menu-section { 
    grid-area: menu-section;
    width: 20vw;
    height: 70vh;
    background-color: #7a7a7a;  
}
  
@mixin card-default {
    width: 100%;
    height: 100%;
    background-color: #c4c4c4;
    box-shadow: 4px 5px 10px rgb(59, 59, 59);
    overflow: hidden;
    @media only screen and (max-width: 768px){
        width: 80vw;
    }
    h1{
        background-color: #292929;
        padding-top: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
    }
    p{
        display: flex;
        justify-content: center;
        background-color: #290707;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@mixin card-layout-default {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 5px;
    grid-auto-flow: row;
    grid-template-areas:
    "card__1 card__2"
    "card__3 card__4";

    @media only screen and (max-width: 768px){
        display: grid;
        padding-bottom: 5vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row;
        grid-template-areas:
        "card__1 "
        "card__2"
        "card__3"
        "card__4";
    }
    
}
.main-content { 
    display: flex;
    justify-content: center;
    grid-area: main-content; 
    width: 60vw;
    height: fit-content & 100vh;
    background-color: #7a7a7a; 
    .card-layout{
        @include card-layout-default;
    }

    .card__1{
        grid-area: card__1;
        @include card-default;
    }
    .card__2{
        grid-area: card__2;
        @include card-default;
    }
    .card__3{
        grid-area: card__3;
        @include card-default;
    }
    .card__4{
        grid-area: card__4;
        @include card-default;
    }
}
  
.right-section { 
    grid-area: right-section;
    display: block !important; 
    width: 20vw;
    height: 70vh;
    background-color: #7a7a7a; 
}
  
.footer { 
    grid-area: footer; 
    height: 20vh;
    background-color: #292929;
}
  
.dialogruta{
    position: absolute;
    margin: auto;
    width: 80vw;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    left: 10vw;
    top: 35vh;
    p{
        color: black;
        margin-top: 5rem;
        margin-left: 22vw;
        font-size: 20px;
    }
}
.btn-content{
    position: relative;
    display: flex;
    padding: 25px;
    background-color: #c4c4c4;
    margin-top: 123px;
    #btn-1{
        margin: auto;
        @include btn-style-1;
    }
    #btn-2{
        margin: auto;
        @include ghost-button;
    }
}